<!--<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2em">-->

    <md-card color="primary">
        <md-card-subtitle>
            <p>Whatever it was that you were looking for in this particular part of world wide web it doesn't seem to exist at this location.</p>
        </md-card-subtitle>
        <md-card-title>
            <h3>We're really sorry to dissapoint you</h3>
        </md-card-title>
        <img md-card-image src="./../../assets/optimized/images-width-800/0016-Molitva.jpg">
        <md-card-content>

            <p>Please visit other sections below and maybe you'll find the information you were looking for.</p>
        </md-card-content>
        <md-card-actions>
            <button color="primary" md-button routerLink="/contact" routerLinkActive="active">Contact page</button>
            <button color="primary" md-button routerLink="/about" routerLinkActive="active">About us page</button>
            <button color="primary" md-button routerLink="/art" routerLinkActive="active">Our art collection</button>


        </md-card-actions>
    </md-card>
<!--</div>-->