@import '../../styles.scss';

md-menu {
    font-family: 'Raleway', sans-serif;
color: #455A64;
    text-align: right;

}

md-menu-item {
font-family: 'Raleway', sans-serif;
color: #455A64;
    text-align: right;
}

span {
font-family: 'Raleway', sans-serif;
color: #455A64;
    text-align: right;
}