<footer fxLayout="row" fxLayoutAlign="center center">

    <button md-button routerLink="/about" routerLinkActive="active">about</button>
    <button md-button routerLink="/contact" routerLinkActive="active">contact</button>
    <button md-button routerLink="/art" routerLinkActive="active">gallery</button>
    <!--<div fxLayout="row" fxLayoutAlign="center center">-->

    <!--<md-grid-list rowHeight="3em" cols="3">
        <md-grid-tile [style.border-right]="'1px dashed #ddd'">
            <button md-button routerLink="/signup" routerLinkActive="active">twitter</button>
        </md-grid-tile>
        <md-grid-tile [style.border-right]="'1px dashed #ddd'">
            <button md-button routerLink="/signup" routerLinkActive="active">facebook</button>
        </md-grid-tile>
        <md-grid-tile>
            <button md-button routerLink="/signup" routerLinkActive="active">instagram</button>
        </md-grid-tile>
    </md-grid-list>-->


    <!--login items-->

    <!--<button md-button (click)="loginGoogle()" id="google">Login</button>
        <button md-button (click)="logout()">Logout</button>-->

    <!--social buttons items-->

    <!--<button md-button routerLink="/signup" routerLinkActive="active">twitter</button>
        <button md-button routerLink="/art" routerLinkActive="active">instagram</button>-->

    <!--
    </div>-->
</footer>