<div fxLayout="column" fxLayout.xs="column" fxLayoutGap="1em">
    <md-card>
        <md-card-header>
            <div md-card-avatar class="example-header-image"></div>
            <md-card-title>Shiba Inu</md-card-title>
            <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="./../../assets/invest-in-art-header-mid-cleaned.svg">
        <md-card-content>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
            </p>
        </md-card-content>
        <md-card-actions>
            <button md-button>LIKE</button>
            <button md-button>SHARE</button>
        </md-card-actions>
    </md-card>

    <md-card>
        <md-card-title-group>
            <img md-card-sm-image src="./../../assets/invest-in-art-header-mid-cleaned.svg">
            <md-card-title>Card with title</md-card-title>
            <md-card-subtitle>Subtitle</md-card-subtitle>
        </md-card-title-group>
    </md-card>

    <md-list fxFlexAlign="center">
        <md-list-item> Pepper </md-list-item>
        <md-list-item> Salt </md-list-item>
        <md-list-item> Paprika </md-list-item>
    </md-list>



    <md-list>
        <md-list-item> Pepper </md-list-item>
        <md-list-item> Salt </md-list-item>
        <md-list-item> Paprika </md-list-item>
    </md-list>

    <md-list>

        <!--this is for chat/contact component -->
        <!--<md-list-item *ngFor="let message of messages">
            <img md-list-avatar src="..." alt="...">
            <h3 md-line> {{message.from}} </h3>
            <p md-line>
                <span> {{message.subject}} </span>
                <span class="demo-2"> -- {{message.message}} </span>
            </p>
        </md-list-item>-->
    </md-list>
</div>