<!--<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2em">-->
<!--<md-card color="primary">
    <md-card-subtitle>
        <p>Subtitle first</p>
    </md-card-subtitle>
    <md-card-title>
        <h3>About</h3>
    </md-card-title>
    <img md-card-image src="./../../assets/optimized/images-width-800/0016-Molitva.jpg">
    <md-card-content>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
        <button color="primary" md-button routerLink="/artists" routerLinkActive="active">Artists</button>

        <button color="primary" md-button routerLink="/art" routerLinkActive="active">Gallery</button>
    </md-card-actions>
</md-card>-->


<md-card color="primary">
    <md-card-subtitle>
        <p>Artists represented by investin.art</p>
    </md-card-subtitle>

    <img md-card-image src="./../../assets/optimized/images-width-800/0009-Reincarnation-1.jpg">
    <md-card-title>Our Artists:</md-card-title>
    <md-card-content>

        <!-- the list starts below-->

        <md-card color="primary" *ngFor="let artist of artists | async ">

            <md-card-subtitle>
                {{ artist.profession }}
            </md-card-subtitle>
            <md-card-title>
                {{ artist.name }}
            </md-card-title>
            <img md-list-avatar src="{{ artist.imgsmall }}" alt="{{ artist.name }}">

            <md-card-content>
                <q md-line>{{ artist.about }}</q>
            </md-card-content>
            <md-card-actions>
                <a href="{{ artist.website }}" md-button target="_blank"><span>Link</span></a>

                <a href="mailto:{{ artist.email }}" md-button target="_blank"><span>Email</span></a>
            </md-card-actions>
        </md-card>
    </md-card-content>
    <!--<p>
        If you would like us to represent you or are interested in any of the artists please contact us by following the links below
    </p>
    <md-card-actions>
        <button color="primary" md-button routerLink="/contact" routerLinkActive="active">Contact us</button>
        <button color="primary" md-button routerLink="/about" routerLinkActive="active">Read more about us</button>
        <button color="primary" md-button routerLink="/art" routerLinkActive="active">See our collection</button>


    </md-card-actions>-->
</md-card>