@import '../../styles.scss';
// .example-header-image {
//     background-image: url('https://source.unsplash.com/random/200x200');
//     background-size: cover;
// }
q {
    font-style: italic;
    color: #455A64;
}

a {
    text-transform: uppercase;
    color: #455A64;
}