<div fxLayout="row" fxLayoutAlign="center center">
    <md-list dense>
        <md-list-item> Pepper </md-list-item>
        <md-list-item> Salt </md-list-item>
        <md-list-item> Paprika </md-list-item>
    </md-list>

    <md-list>

        <!--this is for chat/contact component -->
        <!--<md-list-item *ngFor="let message of messages">
            <img md-list-avatar src="..." alt="...">
            <h3 md-line> {{message.from}} </h3>
            <p md-line>
                <span> {{message.subject}} </span>
                <span class="demo-2"> -- {{message.message}} </span>
            </p>
        </md-list-item>-->
    </md-list>
</div>