<div class="header" fxLayout="column" fxLayout.xs="column" fxLayout.sm="column">

    <!--<img class="logo" fxLayout="row" fxLayoutAlign="end end" 
    [style.xs]="{'width.px': 100}" 
    [style.sm]="{'width.px': 200}" 
    [style.md]="{'width.px': 300}" 
    [style.lg]="{'width.px': 400}" 
    [style.xl]="{'width.px': 500}" 
    src="./../../../assets/logo/export-001/logo-rec-cleaned.svg" 
    alt="" fxFlex>-->
    <div fxLayout="row" fxLayout.xs="column">
        <div class="left" fxFlex="20">

        </div>

        <img class="logo" fxLayout="row" fxLayoutAlign="end end" src="./../../../assets/logo/export-001/logo-rec-cleaned.svg" alt="" fxFlex>

    </div>
    <!--<h1 class="logo" fxLayout="row" fxLayoutAlign="end end" [style.xs]="{'font-size.rem': 1.5 }" [style.sm]="{'font-size.rem': 2}" [style.md]="{'font-size.rem': 3}" [style.lg]="{'font-size.rem': 4}" [style.xl]="{'font-size.rem': 4}" fxFlex>
        investinART
    </h1>-->
    <h3 class="logoTitle" fxLayout="row" fxLayoutAlign="start start" fxFlex>
        <small>menu</small>
    </h3>
</div>