<md-card color="primary">
    <md-card-title>
        <h1>Y<small>our sm</small>ART INVESTMENT</h1>
    </md-card-title>
    <md-card-subtitle>What we do and why</md-card-subtitle>
    <!--<img md-card-image src="./../../assets/optimized/images-width-800/0016-Molitva.jpg">-->
    <md-card-content>

        <p>
            In the last 10 years the art market dramatically changed and grew into unique global industry with 60 billion turnover per year. Art works around the world attract much investment from private and large investors.
        </p>
        <p> If you love art and have interest in acquiring works of art not only for pleasure, but also as an effective form of investment, InvestInART might offer you professional services and assistance in realising this goal. </p>

        <p> We curate and represent emerging artists from Europe, Asia and America as well as artwork of world famous painters. For those interested in investing in art, we offer the chance to discover emerging stars of art scene and purchase works that have
            the potential to rise in value.
        </p>
        <p> We collaborate with private collectors, galleries, hotels, corporate and private investors and on request, can select and offer works of art for sale from private collections including artwork of famous masters like Salvador Dali, Miro, Picasso,
            Leonardo Da Vinci and many others.
        </p>
        <p> If you have interest in any particular artwork, please get in touch, we would be happy to help.
        </p>
        <p>
            We represent private collections/collectors. Would you make your collection available for others? Please contact us for detailed information.
        </p>
        <p>
            Are you an artist? Do you have artwork you would like to sell but not sure how and where? Do you have interest in buying artwork but high transaction fees in auction houses turn off your interest? Our team is there to help.
        </p>
        <p>
            We curate open and private exhibitions of artwork for different types of audiences.
        </p>
    </md-card-content>
    <md-card-actions>
        <button color="primary" md-button routerLink="/artists" routerLinkActive="active">Artists</button>

        <button color="primary" md-button routerLink="/art" routerLinkActive="active">Gallery</button>
    </md-card-actions>
</md-card>

<md-card color="primary">
    <md-card-subtitle>
        <p>Subtitle first</p>
    </md-card-subtitle>
    <md-card-title>
        <h3>Card with title</h3>
    </md-card-title>
    <img md-card-image src="./../../assets/optimized/images-width-800/0008-Nocturne.jpg">
    <md-card-content>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
    </md-card-content>
    <md-card-actions>
        <button color="primary" md-button routerLink="/contact" routerLinkActive="active">Contact us</button>
    </md-card-actions>
</md-card>