<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2em">

    <md-card color="primary">
        <md-card-subtitle><p>Subtitle first</p></md-card-subtitle>
        <md-card-title><h3>About</h3></md-card-title>
        <img md-card-image src="./../../assets/optimized/images-width-800/0016-Molitva.jpg">
        <md-card-content>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
        </md-card-content>
        <md-card-actions>
            <button color="primary" md-button routerLink="/artists" routerLinkActive="active">Artists</button>

            <button color="primary" md-button routerLink="/art" routerLinkActive="active">Gallery</button>
        </md-card-actions>
    </md-card>

    <md-card color="primary">
        <md-card-subtitle><p>Subtitle first</p></md-card-subtitle>
        <md-card-title><h3>Card with title</h3></md-card-title>
        <img md-card-image src="./../../assets/optimized/images-width-800/0008-Nocturne.jpg">
        <md-card-content>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do tempor incididunt ut labore et dolore magna aliqua. Ut enim ad</p>
        </md-card-content>
        <md-card-actions>
            <button color="primary" md-button routerLink="/contact" routerLinkActive="active">Contact us</button>
        </md-card-actions>
    </md-card>
    <!--<md-card>
        <md-card-subtitle>The color pallette</md-card-subtitle>
        <md-card-title>Pure, clean and specious</md-card-title>
        <md-card-content>
            <md-grid-list cols="4" gutterSize="1em" rowHeight="100px">
                <md-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows" [style.background]="tile.color">
                    {{tile.text}}
                </md-grid-tile>
            </md-grid-list>
        </md-card-content>
        <md-card-actions>
            <button md-button routerLink="/artists" routerLinkActive="active">materialpalette.com/grey/blue-grey</button>

            <button md-button routerLink="/art" routerLinkActive="active">Gallery</button>
        </md-card-actions>
    </md-card>-->

    <md-card color="primary">
        <md-card-subtitle><p>Subtitle first</p></md-card-subtitle>
        <md-card-title><h3>Pure, clean and specious</h3></md-card-title>
        <md-card-content>

            <svg version="1.1" id="Level_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1024 468" xml:space="preserve">
        <rect x="20" y="20" fill="#455A64" width="246" height="200" />
        <rect x="266" y="20" fill="#607D8B" width="246" height="200" />
        <rect x="512" y="20" fill="#CFD8DC" width="246" height="200" />
        <rect x="758" y="20" fill="#FFFFFF" width="246" height="200" />
        <rect x="20" y="220" fill="#FF9800" width="246" height="200" />
        <rect x="266" y="220" fill="#212121" width="246" height="200" />
        <rect x="512" y="220" fill="#757575" width="246" height="200" />
        <rect x="758" y="220" fill="#BDBDBD" width="246" height="200" />

      </svg>


        </md-card-content>
        <p>
            The palette was generated using Material Palette :</p>
        <md-card-actions>
            <button href="https://www.materialpalette.com/blue-grey/orange" color="primary" md-button>blue-grey/orange</button>

            <button color="primary" md-button routerLink="/art" routerLinkActive="active">Gallery</button>
        </md-card-actions>
    </md-card>

</div>