<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2em">
    <!--<span class="error" *ngIf="error">{{ error }}</span>-->

    <md-card color="primary">
        <md-card-subtitle>Hello {{user_displayName}}</md-card-subtitle>
        <md-card-title>Card with title</md-card-title>

        <md-card-content>
            <p *ngIf="isLoggedIn">You are logged in as {{user_displayName}} and your email is: ({{user_email}})
                <p>
        </md-card-content>
        <md-card-actions>
            <!--<img src="assets/images/lock.svg" id="lock">-->



            <!--<button md-button (click)="loginFb()" id="fb">Login With Facebook</button><br>-->
            <button color="primary" md-button (click)="loginGoogle()" id="google">Login With Google</button>
            <!--<button md-button routerLink="/login-email" id="email">Email</button>-->

            <!--<a routerLink="/signup" routerLinkActive="active" class="alc">No account? <strong>Create one here</strong></a>-->

        </md-card-actions>
    </md-card>

</div>