<div fxLayout="column" fxLayout.xs="column" fxLayoutGap="2em">
    <md-card>
        <md-input-container>
            <input mdInput placeholder="Your name" value="">
        </md-input-container>

        <md-input-container>
            <input mdInput placeholder="Your email" value="">
        </md-input-container>

        <md-input-container>
            <textarea mdInput placeholder="Your message" value="Your message">
              
            </textarea>
        </md-input-container>
        <!--            
            type="email" mdInput placeholder="Your email" value="">
        </md-input-container>-->


    </md-card>
</div>