<!--<div fxLayout="column" fxLayout.xs="column" fxLayoutGap="2em" fxLayoutAlign="center center">-->



<md-card color="primary">
    <md-card-subtitle>
        <p>Hello and thank you for your interest</p>
    </md-card-subtitle>
    <md-card-title>
        <h3>Contact us</h3>
    </md-card-title>

    <img md-card-image src="./../../assets/optimized/images-width-800/0010-Reincarnation-1_2.jpg">

    <md-card-content>
        <md-card color="primary" *ngIf="isLoggedIn">
            <md-card-subtitle>
                <p>You are currently logged in as:</p>
            </md-card-subtitle>
            <md-card-title>
                <h3>{{user_displayName}}</h3>
            </md-card-title>
            <img md-card-image src="./../../assets/optimized/images-width-800/0009-Reincarnation-1.jpg">
            <md-card-content>
                <p><small>You may log out below or by using the menu at the top left corner</small></p>
            </md-card-content>
            <md-card-actions>
                <button color="primary" md-button (click)="logout()">
                    <span>Logout</span>
                    </button>
            </md-card-actions>
        </md-card>
        <md-card color="primary" *ngIf="!isLoggedIn">
            <md-card-subtitle>
                <p>You may sign in and use your Google account to fill in some details in the form fields.
                </p>
            </md-card-subtitle>
            <md-card-actions>

                <button color="primary" md-button (click)="loginGoogle()" id="google"><span>Google sign-in</span></button>
            </md-card-actions>
        </md-card>
    </md-card-content>
</md-card>






<md-card color="primary">
    <md-card-subtitle>
        <p>Please get in touch with us by sending us a short message below.</p>
    </md-card-subtitle>
    <md-card-content fxLayoutGap="10px">
        <md-input-container fxLayout="column" fxLayoutAlign="space-around stretch">
            <input mdInput placeholder="Your name" value="{{user_displayName}}" fxFlex>
        </md-input-container>

        <md-input-container fxLayout="column" fxLayoutAlign="space-around stretch">
            <input mdInput placeholder="Your email" value="{{user_email}}" fxFlex>
        </md-input-container>

        <md-input-container fxLayout="column" fxLayoutAlign="space-around stretch">
            <textarea mdInput placeholder="Your message" value="Your message" fxFlex>
                      
                    </textarea>
        </md-input-container>
    </md-card-content>
    <md-card-actions>
        <button color="primary" md-button (click)="submit()">Submit</button>


    </md-card-actions>
</md-card>