<md-dialog-content>
    <!--<span md-line>{{ image.name }}</span>-->
    <span md-line>dupa</span>

    <!-- <md-card color="primary">

       <md-card-title>
            <h3>Cards are the best</h3>
        </md-card-title>
        <md-card-subtitle>
            <p>Really, they are!</p>
        </md-card-subtitle>-->

    <img src="./../../assets/optimized/images-width-800/0005-Firmament.jpg">
    <!--<md-card-content>
            <p>Something pretty...</p>
        </md-card-content>
    </md-card>-->

</md-dialog-content>
<md-dialog-actions>
    <button md-button coloor="primary" aria-label="label" md-dialog-close>label</button>
</md-dialog-actions>