<md-dialog-content>
    <!--<img md-card-image src="./../../assets/optimized/images-width-800/0005-Firmament.jpg">-->
    <span md-line>{{ selectedImage?.name }}</span>
    <!--<span md-line>
                <p>{{ title }}</p>
        <p>{{ message }}</p>

    </span>-->

    <md-card *ngFor="let image of images">
        <!--<img md-card-image src="./../../assets/optimized/images-width-800/0005-Firmament.jpg">-->
        <span md-line>
                <p>{{ image.title }}</p>
        <p>{{ message }}</p>

    </span>
    </md-card>

    <!-- <md-card color="primary">

       <md-card-title>
            <h3>Cards are the best</h3>
        </md-card-title>
        <md-card-subtitle>
            <p>Really, they are!</p>
        </md-card-subtitle>-->

    <!--<img src="./../../assets/optimized/images-width-800/0005-Firmament.jpg">-->
    <!--<md-card-content>
            <p>Something pretty...</p>
        </md-card-content>
    </md-card>-->

</md-dialog-content>
<md-dialog-actions>
    <button type="button" md-raised-button (click)="dialogRef.close(true)">OK</button>
    <button type="button" md-button (click)="dialogRef.close()">Cancel</button>

    <button md-button coloor="alert" aria-label="label" md-dialog-close>label</button>
</md-dialog-actions>