#Layer-1-copy{
	position:absolute;
	left:-3533px;
	top:48px;
	width:1479px;
	height:227px;
}

#Layer-1-copy-3{
	position:absolute;
	left:-3533px;
	top:376px;
	width:1479px;
	height:227px;
}

#Layer-1-copy-2{
	position:absolute;
	left:-3533px;
	top:-295px;
	width:1479px;
	height:227px;
}

#logo-sq{
	position:absolute;
	left:0px;
	top:0px;
	width:1048px;
	height:1048px;
}


#logo-sq{
	position:absolute;
	left:-1379px;
	top:-40px;
	width:1048px;
	height:1048px;
}

#logo-sq-ico{
	position:absolute;
	left:0px;
	top:0px;
	width:115px;
	height:115px;
}


#logo-sq-ico{
	position:absolute;
	left:-238px;
	top:-41px;
	width:115px;
	height:115px;
}

#logo-sq-fav{
	position:absolute;
	left:0px;
	top:0px;
	width:32px;
	height:32px;
}


#logo-sq-fav{
	position:absolute;
	left:0px;
	top:0px;
	width:32px;
	height:32px;
}

#logo-rec{
	position:absolute;
	left:0px;
	top:0px;
	width:1753px;
	height:396px;
}


#logo-rec{
	position:absolute;
	left:-1870px;
	top:-1775px;
	width:1753px;
	height:396px;
}

