<!--<div>
    <img style="width:100%; margin:2vh;" src="./../../assets/optimized/images-width-800/0013-Transformation.jpg">
</div>-->
<!--<div>
    <img style="size:cover" src="./../../assets/optimized/images-width-800/0013-Transformation.jpg">
</div>
<md-card>-->
    <!--<img md-card-image src="./../../assets/optimized/images-width-800/0013-Transformation.jpg">-->
    <!--<span md-line>
    <p>
        img-detail component works! even though it still doesn't display selected image</p>
    <p>
        i'll be moving on to do some work on logo and styling. soon i'll send you instructions as to what and how.</p></span>

    <button color="primary" md-button (click)="dialogRef.close()">Close</button>

    <p md-line>{{ image.title }}, {{ image.year }}</p>
    <span md-line>{{ image.name }}</span>

</md-card>-->

<h1 md-dialog-title class="primary-color">hey title</h1>
    <md-dialog-content class="accent-color">
      hey this is the content of the dialog
    </md-dialog-content>
    <md-dialog-actions>
      <button md-raised-button color="primary" md-dialog-close>
        close button
      </button>  
    </md-dialog-actions>