@import url('https://fonts.googleapis.com/css?family=Roboto|Ubuntu:500&subset=cyrillic,cyrillic-ext');
@import './../../styles.scss';
.header {
    font-family: 'Ubuntu', sans-serif;
    color: $primary-color-dark;
    // text-transform: capitalize;
    padding: 50px 20px 0px;
    z-index: 10; // emmet z10
}

.logo {
    margin-bottom: 0px;
    border-bottom-width: 0px;
    border-bottom-color: $primary-color-dark;
    border-bottom-style: dotted;
}

.logoTitle {
    font-family: 'Ubuntu', sans-serif;
    // font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 0px;
}

.footer {
    font-family: 'Ubuntu', sans-serif;
    // font-size: 1.2em;
    // color: $primary-color-dark;
    text-transform: uppercase;
    padding: 20px 20px;
}

.footerText {
    color: $primary-color-dark;
    border-top-width: 1px;
    border-top-color: $primary-color-dark;
    border-top-style: dotted;
}

.middle {
    padding: 0px 20px;
}