@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Montserrat');
.header {
    font-family: Arial Black, Arial Bold, Gadget, sans-serif;
    text-transform: capitalize;
    padding: 50px 20px 0px;
    z-index: 10; // emmet z10
}

.logo {
    margin-bottom: 0px;
    border-bottom-width: 1px;
    border-bottom-color: black;
    border-bottom-style: dotted;
}

.logoTitle {
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    margin-top: 0px;
}

.footer {
    font-family: 'Karla', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    padding: 20px 20px;
}

.footerText {
    border-top-width: 1px;
    border-top-color: black;
    border-top-style: dotted;
}

.middle {
    padding: 0px 20px;
}