<!--<md-card>
    <md-card-header>
        <md-card-title>
            <h3>
                    hello works! full width
            </h3>
        </md-card-title>
    </md-card-header>
</md-card>-->

<!-- -->

<md-card fxLayout="row" fxLayout.xs="column" fxLayout.sm="">

    <div class="left" fxFlex="40">

        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>

                        hello works! 40 percent for text

                    </h3>
                </md-card-title>
                <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->
            </md-card-header>
        </md-card>

    </div>

    <div class="right" fxFlex>
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>

                        hello works! the rest for random image

                    </h3>
                </md-card-title>
                <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->
            </md-card-header>
        </md-card>
    </div>
</md-card>

<!-- -->
<!-- -->

<md-card fxLayout="row" fxLayout.xs="column" fxLayout.sm="">

    <div class="left" fxFlex>

        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>

                        hello works! the rest for random image



                    </h3>
                </md-card-title>
                <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->
            </md-card-header>
        </md-card>

    </div>

    <div class="right" fxFlex="40">
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>

                        hello works! 40 percent for text

                    </h3>
                </md-card-title>
                <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->
            </md-card-header>
        </md-card>
    </div>
</md-card>

<!-- -->
<!-- -->

<md-card fxLayout="row" fxLayout.xs="column" fxLayout.sm="">

    <div class="left" fxFlex="40">

        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>

                        hello works! 40 percent for text

                    </h3>
                </md-card-title>
                <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->
            </md-card-header>
        </md-card>

    </div>

    <div class="right" fxFlex>
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>

                        hello works! the rest for random image

                    </h3>
                </md-card-title>
                <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->
            </md-card-header>
        </md-card>
    </div>
</md-card>

<!-- -->
<!-- -->

<md-card fxLayout="row" fxLayout.xs="column" fxLayout.sm="">

    <div class="left" fxFlex>

        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>

                        hello works! the rest for random image



                    </h3>
                </md-card-title>
                <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->
            </md-card-header>
        </md-card>

    </div>

    <div class="right" fxFlex="40">
        <md-card>
            <md-card-header>
                <md-card-title>
                    <h3>

                        hello works! 40 percent for text

                    </h3>
                </md-card-title>
                <!--<md-card-subtitle>Subtitle</md-card-subtitle>-->
            </md-card-header>
        </md-card>
    </div>
</md-card>

<!-- -->