<div fxLayout="column" fxLayoutAlign="center center">


    <md-card>
        <md-card-subtitle *ngIf="isLoggedIn">Hello {{user_displayName}}</md-card-subtitle>
        <md-card-title>Card with title</md-card-title>

        <md-card-content>

            <p>
                Progressive Web App (PWA) is a term used to denote a new software development methodology. Unlike traditional applications, progressive web apps are a hybrid of regular web pages (or websites) and a mobile application. This new application model attempts
                to combine features offered by most modern browsers with the benefits of mobile experience.
            </p>
        </md-card-content>
        <md-card-actions>
            <button md-button routerLink="/contact" routerLinkActive="active">Contact us</button>
            <button md-button routerLink="/about" routerLinkActive="active">Read more about us</button>
            <button md-button routerLink="/art" routerLinkActive="active">See our collecvtion</button>


        </md-card-actions>
    </md-card>

    <!--
    <img md-card-image src="./../assets/members/member-org.jpg">
    <md-card-content>
        <p>
            Progressive Web App (PWA) is a term used to denote a new software development methodology. Unlike traditional applications, progressive web apps are a hybrid of regular web pages (or websites) and a mobile application. This new application model attempts
            to combine features offered by most modern browsers with the benefits of mobile experience.
        </p>
    </md-card-content>
    <md-card-actions>
        <button md-button>
          <md-icon>chat</md-icon>Chat with Furry</button>
        <button md-button>
          <md-icon>share</md-icon>Send Furry a refferal</button>
    </md-card-actions>
    </md-card>-->
</div>