md-card {
    font-family: 'Raleway', sans-serif;
    max-width: 90%;
    margin: 1em;
    text-align: right;
}

md-card-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}