/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway|Ravi+Prakash');
@import 'investin-art-custom-theme.scss';
body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Ravi Prakash', cursive;
    color: #212121;
    margin: 0.5em;
}

md-card {
    font-family: 'Raleway', sans-serif;
    max-width: 70%;
    margin: 1em;
    text-align: right;
}

md-card-content {
    justify-content: space-between;
}

md-card-actions {
    font-family: 'Ravi Prakash', cursive;
    justify-content: space-between;
    text-align: center;
}

md-card-title {
    font-family: 'Ravi Prakash', cursive;
    color: #455A64;
}

md-button {
    font-family: 'Raleway', sans-serif;
    color: #455A64;
}

// md-card {
//     font-family: 'Raleway', sans-serif;
//     max-width: 90%;
//     margin: 1em;
//     text-align: right;
// }
// md-card-content {
//     display: flex;
//     justify-content: space-between;
//     flex-wrap: wrap;
// }
// md-input-container {
//     width: 100%;
// }
// md-card-actions {
//     justify-content: flex-end;
// }
// @import '~@angular/material/core/theming/prebuilt/pink-bluegrey.css';
// @import url('https://fonts.googleapis.com/css?family=Karla:700|Montserrat:400,400i');
// body {
//     font-family: 'Montserrat', sans-serif;
//     font-family: 'Karla', sans-serif;
//     margin: 2em;
// }
// md-card {
//     max-width: 90%;
//     margin: 1em auto;
//     text-align: center;
// }