/* You can add global styles to this file, and also import other style files */


/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Raleway|Ravi+Prakash');
@import 'investinART-custom-theme.scss';
//
body {
    background-image: url('/assets/gplaypattern_@2X.png');
    padding: 1vw;
    font-family: 'Raleway', sans-serif;
    font-family: 'Ravi Prakash', cursive;
    color: #455A64;
}

.app {
    height: 100vh;
}

header {
    padding-bottom: 2em;
}

footer {
    padding-top: 2em;
}

a {
    text-decoration: none;
}

md-menu {
    font-family: 'Raleway', sans-serif;
    color: #455A64;
    text-align: right;
}

span {
    font-family: 'Raleway', sans-serif;
    color: #455A64;
    text-align: right;
}

md-card {
    font-family: 'Raleway', sans-serif;
    background: rgba(255, 255, 255, 0.1);
    min-width: 60%;
    margin: 2em;
    text-align: right;
}

md-card-content {
    padding-top: 1em;
    padding-bottom: 1em;
    justify-content: center;
    text-align: right;
}

md-card-actions {
    // font-family: 'Ravi Prakash', cursive;
    justify-content: space-between;
    text-align: center;
}

md-card-title {
    // font-family: 'Raleway', sans-serif;
    font-family: 'Ravi Prakash', cursive;
    text-transform: uppercase;
    color: #455A64;
    text-align: right;
}

md-button {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #455A64;
    text-align: center;
}

button {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: #455A64;
    text-align: center;
}